
footer{

    width: 100%;
    // padding-bottom: 30px;
  p{
      margin-bottom: 10px;
  }
  .home-page-f-p{
      transform: translateY(20px);
  }
    a{
        display: inline-block;
        color: $red;
    }
}



@include mobile{
    footer{
        .footer-paragraph{
             text-align: center;
         }
        
     }
}